In [1]:
####

In [4]:
import pandas as pd
import numpy as np

In [83]:
sentence1="It is a good practice for us"
sentence2="It was also good to know about it"

In [49]:
#our method bit wrong
words1 = sentence1.lower().split()
words2 = sentence2.lower().split()

In [50]:
df1=pd.DataFrame(words1)
df1

          0
0        it
1        is
2         a
3      good
4  practice
5       for
6        us

In [51]:
c1=pd.DataFrame(df1.value_counts())
c1

          count
0
a             1
for           1
good          1
is            1
it            1
practice      1
us            1

In [52]:
df2=pd.DataFrame(words2)
df2

       0
0     it
1    was
2   also
3   good
4     to
5   know
6  about
7     it

In [53]:
c2= pd.DataFrame(df2.value_counts())
c2

       count
0
it         2
about      1
also       1
good       1
know       1
to         1
was        1

In [62]:
df3=pd.concat([c1,c2], join='outer',axis=1)
df3

          count  count
0
a           1.0    NaN
for         1.0    NaN
good        1.0    1.0
is          1.0    NaN
it          1.0    2.0
practice    1.0    NaN
us          1.0    NaN
about       NaN    1.0
also        NaN    1.0
know        NaN    1.0
to          NaN    1.0
was         NaN    1.0

In [63]:
df3=df3.fillna(0).T

In [64]:
df3.reset_index()

0  index    a  for good   is   it practice   us about also know   to  was
0  count  1.0  1.0  1.0  1.0  1.0      1.0  1.0   0.0  0.0  0.0  0.0  0.0
1  count  0.0  0.0  1.0  0.0  2.0      0.0  0.0   1.0  1.0  1.0  1.0  1.0

In [61]:
df3

0  index    a  for good   is   it practice   us about also know   to  was
0  count  1.0  1.0  1.0  1.0  1.0      1.0  1.0   0.0  0.0  0.0  0.0  0.0
1  count  0.0  0.0  1.0  0.0  2.0      0.0  0.0   1.0  1.0  1.0  1.0  1.0

In [67]:
## sir's method correct one
from nltk.tokenize import word_tokenize

In [68]:
tokens=word_tokenize(sentence1.lower())+word_tokenize(sentence2.lower())

In [69]:
tokens

['it',
 'is',
 'a',
 'good',
 'practice',
 'for',
 'us',
 'it',
 'was',
 'also',
 'good',
 'to',
 'know',
 'about',
 'it']

In [70]:
tokens = set(tokens)

In [71]:
df = pd.DataFrame({ }, index = [1,2],columns=list(tokens))

In [72]:
df

   for about  was   to know   us    a   is practice also   it good
1  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN      NaN  NaN  NaN  NaN
2  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN      NaN  NaN  NaN  NaN

In [73]:
tokens1 = word_tokenize(sentence1.lower())
tokens2 = word_tokenize(sentence2.lower())

In [74]:
tokens1

['it', 'is', 'a', 'good', 'practice', 'for', 'us']

In [75]:
tokens2

['it', 'was', 'also', 'good', 'to', 'know', 'about', 'it']

In [76]:
counts1 = [tokens1.count(x) for x in df.columns]
counts2 = [tokens2.count(x) for x in df.columns]

In [77]:
counts1

[1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1]

In [78]:
counts2

[0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 2, 1]

In [79]:
df.iloc[0,:] = counts1
df.iloc[1,:] = counts2

In [80]:
df

  for about was to know us  a is practice also it good
1   1     0   0  0    0  1  1  1        1    0  1    1
2   0     1   1  1    1  0  0  0        0    1  2    1

In [81]:
from sklearn.feature_extraction.text import CountVectorizer

In [82]:
cvt=CountVectorizer() # create obj of CountVectorizer

In [84]:
new_data=cvt.fit_transform([sentence1,sentence2]) # transforms and tores counts

In [85]:
new_data

<2x11 sparse matrix of type '<class 'numpy.int64'>'
	with 13 stored elements in Compressed Sparse Row format>

In [93]:
values=new_data.toarray()
values

array([[0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0],
       [1, 1, 0, 1, 0, 2, 1, 0, 1, 0, 1]], dtype=int64)

In [89]:
coln_name=cvt.get_feature_names_out()  # gives feature names i.e word names
coln_name

array(['about', 'also', 'for', 'good', 'is', 'it', 'know', 'practice',
       'to', 'us', 'was'], dtype=object)

In [91]:
df_extracted=pd.DataFrame(values,index = [1,2],columns=coln_name)

In [92]:
df_extracted

   about  also  for  good  is  it  know  practice  to  us  was
1      0     0    1     1   1   1     0         1   0   1    0
2      1     1    0     1   0   2     1         0   1   0    1

###

### n-gram

In [106]:
cvt=CountVectorizer(ngram_range=(1,2))  #range 'unigram' and bigram is also used 1-->min 
                                        #and 2-->max

In [107]:
new_data=cvt.fit_transform([sentence1,sentence2]) # transforms and tores counts 
new_data

<2x23 sparse matrix of type '<class 'numpy.int64'>'
	with 25 stored elements in Compressed Sparse Row format>

In [108]:
values=new_data.toarray()
values

array([[0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0,
        0],
       [1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 2, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1,
        1]], dtype=int64)

In [109]:
coln_name=cvt.get_feature_names_out()  # gives feature names i.e word names
coln_name

array(['about', 'about it', 'also', 'also good', 'for', 'for us', 'good',
       'good practice', 'good to', 'is', 'is good', 'it', 'it is',
       'it was', 'know', 'know about', 'practice', 'practice for', 'to',
       'to know', 'us', 'was', 'was also'], dtype=object)

In [110]:
df_extracted=pd.DataFrame(values,index = [1,2],columns=coln_name)

In [111]:
df_extracted

,about,about it,also,also good,for,for us,good,good practice,good to,is,...,it was,know,know about,practice,practice for,to,to know,us,was,was also
1,0,0,0,0,1,1,1,1,0,1,...,0,0,0,1,1,0,0,1,0,0
2,1,1,1,1,0,0,1,0,1,0,...,1,1,1,0,0,1,1,0,1,1

In [113]:
cvt=CountVectorizer(ngram_range=(2,2))  #range 'Bigram' is used 2-->min 
                                        #and 2-->max
new_data=cvt.fit_transform([sentence1,sentence2]) # transforms and tores counts 

values=new_data.toarray()

coln_name=cvt.get_feature_names_out()  # gives feature names i.e word names

df_extracted=pd.DataFrame(values,index = [1,2],columns=coln_name)
df_extracted

,about it,also good,for us,good practice,good to,is good,it is,it was,know about,practice for,to know,was also
1,0,0,1,1,0,1,1,0,0,1,0,0
2,1,1,0,0,1,0,0,1,1,0,1,1