In [11]:
import pandas as pd
import numpy as np

In [2]:
sentence1="It is a good practice for us"
sentence2="It was also good to know about it"

In [4]:
#import the class
from sklearn.feature_extraction.text import TfidfVectorizer

In [5]:
#create the object
tfidf=TfidfVectorizer()

In [6]:
#apply the task
new_data=tfidf.fit_transform([sentence1,sentence2])

In [7]:
new_data

<2x11 sparse matrix of type '<class 'numpy.float64'>'
	with 13 stored elements in Compressed Sparse Row format>

In [9]:
values=new_data.toarray()

In [10]:
values

array([[0.        , 0.        , 0.44665616, 0.31779954, 0.44665616,
        0.31779954, 0.        , 0.44665616, 0.        , 0.44665616,
        0.        ],
       [0.36439074, 0.36439074, 0.        , 0.25926702, 0.        ,
        0.51853403, 0.36439074, 0.        , 0.36439074, 0.        ,
        0.36439074]])

In [12]:
df=pd.DataFrame(values,index = [1,2],columns=tfidf.get_feature_names_out())

In [13]:
df

,about,also,for,good,is,it,know,practice,to,us,was
1,0.000000,0.000000,0.446656,0.317800,0.446656,0.317800,0.000000,0.446656,0.000000,0.446656,0.000000
2,0.364391,0.364391,0.000000,0.259267,0.000000,0.518534,0.364391,0.000000,0.364391,0.000000,0.364391